{% extends 'layout.html' %} {% block content %} {% include 'Sidebar.html' %}
 <div class="main">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ games_title }}</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>
                        <a href="/description?game_id={{ game.game_id }}">{{ game.game_id }}</a>
                    </td>
                    <td>
                        <a href="/description?game_id={{ game.game_id }}">{{ game.title }}</a>
                    </td>
                    <td>
          <a href="/wishlist?game_id={{ game.game_id }}">Add to Wishlist</a>
        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination links -->
        <div class="pagination">
            {% if prev_page_url %}
                <a href="{{ prev_page_url }}">Previous</a>
            {% endif %}
            {% if next_page_url %}
                <a href="{{ next_page_url }}">Next</a>
            {% endif %}
        </div>
    </body>
</div>
{% endblock %}