
{% extends 'layout.html' %} {% block content %}
{% include 'Sidebar.html' %}
<h1>total games - {{num_games}} </h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>TITLE</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
      {% for game in games %}
      <tr>
        <td>
          {{game.game_id}}
        </td>
        <td>
          {{game.title}}
        </td>
        <td>
          {{game.game_url}}
        </td>
      </tr>
      {% endfor %}


      </tbody>
    </table>


{% endblock %}