
{% extends 'layout.html' %} {% block content %}
{% include 'Sidebar.html' %}
<div class="main">
  <h1>Total games - {{num_games}} </h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>TITLE</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
      {% for game in games %}
      <tr>
        <td>
          {{game.game_id}}
        </td>
        <td>
          {{game.title}}
        </td>
        <td>
          {{game.game_url}}
        </td>
      </tr>
      {% endfor %}


      </tbody>
    </table>

  <!-- Pagination links -->
  <div class="pagination">
    {% if current_page > 1 %}
      <a href="{{url_for('library_bp.library', page=current_page-1)}}">Previous</a>
    {% endif %}
    {% if current_page < total_pages %}
      <a href="{{url_for('library_bp.library', page=current_page+1)}}">Next</a>
    {% endif %}
  </div>

</div>




{% endblock %}