{% extends 'layout.html' %}

{% block content %}
<div class="main">
    <h1>Title: {{ game.title }}</h1>
    <td>
        <a href="/wishlist?game_id={{ game.game_id }}">Add to Wishlist</a>
    </td>

    <h2>Price: ${{ game.price }}</h2>
    <h3>Publisher: {{ game.publisher.publisher_name }}</h3>
    <h3>
        Genres: {% for genre in game.genres %}
        {{ genre.genre_name }}{% if not loop.last %}, {% endif %}{% endfor %}
    </h3>
    <h3>Release Date: {{ game.release_date }}</h3>
    <img src="{{ game.image_url }}" alt="{{ game.title }} Image" />
    <h4>Description: {{ game.description }}</h4>

    <!-- Display Reviews -->
    <h4>Reviews:</h4>
    {% if length != 0 %}
    <ul>
        {% for review in game.reviews %}
        <li>
            {% with review=review, user=true %}
            {% include 'review.html' %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>This game has no reviews!</p>
    {% endif %}

    {% if 'user_name' in session %}
    <!-- Check if the user has already reviewed the game -->
    {% set user_reviewed = False %}
    {% for review in game.reviews %}
        {% if review.user_name == session['user_name'] %}
            {% set user_reviewed = True %}
        {% endif %}
    {% endfor %}

    {% if user_reviewed %}
    <!-- Display a message if the user has already reviewed -->
    <p>You have already reviewed this game.</p>
    {% else %}
    <!-- Review Form for Logged In Users -->
    <form method="POST" action="{{ url_for('description_bp.add_review', game_id=game.game_id) }}">
        {{ form.hidden_tag() }}
        <input type="hidden" name="game_id" value="{{ game.game_id }}">
        <div class="form-group">
            {{ form.review_text.label(class="form-control-label") }} <br>
            {{ form.review_text(cols=60, rows=6, class="form-control", style="background-color: #f8f8f8; color: #333;") }} <br><br>
        </div>
        <div class="form-group">
            <label>Rating:</label><br>
            <input type="radio" name="rating" value="1"> 1
            <input type="radio" name="rating" value="2"> 2
            <input type="radio" name="rating" value="3"> 3
            <input type="radio" name="rating" value="4"> 4
            <input type="radio" name="rating" value="5"> 5
        </div><br>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </form>
    {% if form.rating.errors %}
    <p class="text-danger">A rating is required to submit a review.</p>
    {% endif %}

    {% if form.review_text.errors %}
    <p class="text-danger">A description is required to submit a review.</p>
    {% endif %}

    {% if message != None %}
    <p>{{ message }}</p>

    {% endif %}

    {% endif %}
    {% else %}
    <!-- Message for Non-Logged In Users -->
    <p>Please log in to post a review.</p>
    {% endif %}
</div>
{% endblock %}



