{% extends 'layout.html' %} {% block content %}
<div class="main">
<h1>Welcome to Saveer's Arcade</h1>
<p>Bringing the Joy of Gaming to Your Fingertips</p>
<p>At Saveer's Arcade, we bring the joy of gaming to your fingertips. Immerse
  yourself in a world of entertainment where you can explore, review, and enjoy
  a wide variety of games that cater to every gamer's taste. From thrilling
  action-packed adventures to mind-bending puzzles and strategic challenges, our
  platform offers a diverse selection that guarantees an unforgettable gaming
  experience</p>

</div>



{% endblock %}
