<nav id="nav_bar">
  <div class="nav-links">
    <div class="nav-buttons">
      <a class="nav-link" href="{{ url_for('home_bp.home') }}">Home</a>
      <a class="nav-link" href="{{ url_for('library_bp.library') }}">Game Library</a>

      <!-- only display login and register options when not logged in -->
      {% if 'user_name' not in session %}
      <a class="nav-link" href="{{ url_for('authentication_bp.login') }}">Login</a>
      <a class="nav-link" href="{{ url_for('authentication_bp.register') }}">Register</a>
      {% else %}
      <a class="nav-link" href="{{ url_for('authentication_bp.logout') }}">Log out</a>
      {% endif %}

    </div>
  </div>


  <!-- Search bar -->
  <form
    class="search-form"
    action="{{ url_for('search_bp.search') }}"
    method="get"
  >
    <!-- Dropdown for genre -->
    <select name="genre">
      <option value="">Select Genre</option>
      {% for genre_option in genre_options %}
      <option value="{{ genre_option }}"
        {% if request.args.get('genre') == genre_option %}selected{% endif %}>
        {{ genre_option }}</option>
      {% endfor %}
    </select>

    <!-- Dropdown for publisher -->
    <select name="publisher">
      <option value="">Select Publisher</option>
      {% for publisher_option in publisher_options %}
      <option value="{{ publisher_option }}"
        {% if request.args.get('publisher') == publisher_option %}selected{% endif %}>
        {{ publisher_option }}</option>
      {% endfor %}
    </select>

    <!-- Search input field -->
    <input
      type="text"
      name="query"
      placeholder="Search.."
      value="{{ request.args.get('query', '') }}"
    />

    <!-- Submit button -->
    <button type="submit">Search</button>
  </form>
</nav>
