<nav id="nav_bar">
    <div class="nav-links">
        <div class="nav-buttons">
            <a class="nav-link" href="{{ url_for('home_bp.home') }}">Home</a>
            <a class="nav-link" href="{{ url_for('library_bp.library') }}">Game Library</a>
        </div>
    </div>
    <!-- The search button -->
    <form class="search-form" action="{{ url_for('library_bp.search') }}" method="GET">
        <input type="text" name="query" placeholder="Search games by title" value="{{ request.args.get('query', '') }}">
        <button type="submit">Search</button>
    </form>
</nav>