{% extends 'layout.html' %} {% block content %}
<div class="main">
  <h1 class="profile-header">{{ session['user_name'] }}</h1>
  {% include 'wishlistAlert.html' %}
  <div class="panels-container">

    <div class="panel wishlist">
      <h2>Wishlisted Games</h2>
      <ul>
        {% if wishlist_games %}
          {% for game in wishlist_games %}
          <li>
            <td>
              <a href="/description?game_id={{ game.game_id }}" >{{ game.title }}</a>
            </td>
            <a href="/remove_from_wishlist?game_id={{ game.game_id }}" class="remove-link">Remove</a>

          </li>
          {% endfor %}
        {% else %}
          <li>No wishlisted games.</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="panel reviews">
    <h2>Reviews</h2>
    <!-- reviews content -->
    {% if reviews %}
    {% for review in reviews %}
        <p>
            {% with review=review, title=review.game.title %}
            {% include 'review.html' %}
            {% endwith %}
        </p>
        {% endfor %}
    {% else %}
    <p> No reviews yet. </p>
    {% endif %}

  </div>
</div>
{% endblock %}
